<settings>
    <tunnel name="BTC_new" host="212.98.191.105" user="prpc" password="prpc-2.184" port="32746">
    	<L localPort="2622" destHost="212.98.171.226" destPort="22" />
    </tunnel>

    <server name="DEV" host="127.0.0.1" user="was" password="prpc-2.184" port="2622" encoding="utf-8" tunnel="BTC_new">
        <log name="was" file="/opt/IBM/WebSphere/AppServer/profiles/AppSrv01/logs/server1/SystemOut.log" blockPattern="\[\d\d?\/\d\d?\/\d\d? \d\d?:\d\d?:\d\d?[,:]\d{1,3} MSK\]"/>
    </server>


</settings>



